/* styles.css */

.cls-1 {
	fill: #faf8ff;
	stroke: none;
	stroke-width: 2px;
	font-size: 100px;
	font-family: Arial, sans-serif; /* Changed to a normal system font */
	stroke-dasharray: 1360;
	animation-iteration-count: 1;
	animation: csvg 3s cubic-bezier(0, 0.23, 1, 0.1);
}

@keyframes csvg {
	0% {
		stroke: #fff;
		stroke-width: 2px;
		opacity: 0;
		fill: none;
		stroke-dasharray: 0;
	}

	30% {
		stroke: #fff;
		stroke-width: 2px;
		opacity: 1; /* Changed from 10 to 1 for opacity */
		fill: none;
	}

	80% {
		stroke: #fff;
		stroke-width: 2px;
		fill: rgba(255, 255, 255, 0);
	}

	100% {
		opacity: 1; /* Changed from 10 to 1 for opacity */
		fill: #ffe7ff;
		stroke-dasharray: 1360;
		stroke: none;
	}
}
